 /* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
  height: 100%
}

.app {
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #a0e8fa 0%,
    #6dd5ed 29%,
    #5bb6e7 67%,
    #208df2 60%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: rgb(61, 60, 60);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 70px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.bgimg {
  /* Background image */
  background-image: url('./image/My-Picture1.jpg');
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
  /* Add a font */
  font-family: "Courier New", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 25px;
}

/* Position text in the top-left corner */
.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

/* Position text in the bottom-left corner */
.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

/* Position text in the middle */
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
} 
